#### Import thư viện

In [2]:
import pandas as pd
import numpy as np

#### Đọc dữ liệu

In [5]:
attrition_pop = pd.read_csv(r"T:\PhanNguyenKhoiNguyen_21068021\data-HR-Employee-Attrition.csv")
attrition_pop.head(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7

####  Ex1:
Sample 70 rows from attrition_pop using simple random sampling, setting the random seed to 18900217.
Print the sample dataset, attrition_samp. What do you notice about the indices?

In [6]:
attrition_samp = attrition_pop.sample(n=70, random_state=18900217)
print(attrition_samp)

      Age Attrition     BusinessTravel  DailyRate              Department  \
1134   35        No      Travel_Rarely       1349  Research & Development
1150   35        No      Travel_Rarely        819  Research & Development
531    32        No      Travel_Rarely       1018  Research & Development
395    43        No  Travel_Frequently        313  Research & Development
392    54        No      Travel_Rarely        821  Research & Development
...   ...       ...                ...        ...                     ...
361    40        No      Travel_Rarely       1171  Research & Development
1180   36        No      Travel_Rarely        311  Research & Development
230    52        No      Travel_Rarely       1323  Research & Development
211    30        No         Non-Travel        829  Research & Development
890    54        No  Travel_Frequently        966  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
1134                 7          2  Life Sciences              1
1150                18          5  Life Sciences              1
531                  3          2  Life Sciences              1
395                 21          3        Medical              1
392                  5          2        Medical              1
...                ...        ...            ...            ...
361                 10          4  Life Sciences              1
1180                 7          3  Life Sciences              1
230                  2          3  Life Sciences              1
211                  1          1  Life Sciences              1
890                  1          4  Life Sciences              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
1134            1601  ...                         4            80
1150            1621  ...                         4            80
531              727  ...                         4            80
395              525  ...                         1            80
392              522  ...                         3            80
...              ...  ...                       ...           ...
361              483  ...                         3            80
1180            1659  ...                         3            80
230              316  ...                         2            80
211              292  ...                         3            80
890             1245  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
1134                 1                  1                      5
1150                 0                 16                      2
531                  0                 10                      6
395                  1                  8                      1
392                  1                 24                      4
...                ...                ...                    ...
361                  1                 10                      3
1180                 0                 15                      4
230                  0                  6                      3
211                  0                 12                      2
890                  1                 33                      2

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
1134               2               1                  0
1150               3              16                 15
531                3               7                  7
395                3               3                  2
392                2               4                  2
...              ...             ...                ...
361                3               7                  7
1180               3               4                  3
230                2               2                  2
211                3              11                  8
890                1               5                  4

      YearsSinceLastPromotion  YearsWithCurrManager
1134                        0                     1
1150                        1                    10
531                         7                     7
395                         1                     2
392                         1                     2
...                       ...                   ...
361                         1                     7
1180                        1                     3
230                         2                     2
211                         5                     8
890                         1                     4

[70 rows x 35 columns]

#### What do you notice about the indices?
Về các chỉ mục, khi sử dụng phương thức sample(), nó sẽ không đặt lại các chỉ mục. Vì vậy, chỉ số trong attrition_samp sẽ phản ánh chỉ mục của các hàng được lấy mẫu trong attrition_pop. Điều này có nghĩa là các chỉ mục có thể không tuần tự hoặc bắt đầu từ 0. Chúng sẽ giữ lại các chỉ mục ban đầu từ tập dữ liệu attrition_pop.

#### Ex2:
Set the sample size to 70.
Calculate the population size from attrition_pop.
Calculate the interval between the rows to be sampled.Systematically sample attrition_pop to get the rows of the population at each interval, starting at 0; assign the rows to attrition_sys_samp.

In [8]:
#Gán kích thước cho mẫu chuẩn bị lấy là 70
sample_size = 70
#Lấy kích thước của quần thể
population_size = len(attrition_pop)
# Khoảng cách giữa các hàng được lấy mẫu được tính bằng cách chia kích thước quần thể cho kích thước mẫu. 
#Điều này làm cho mỗi lần lấy mẫu, chúng ta lấy một hàng và bỏ qua các hàng tiếp theo theo khoảng cách tính được.
interval = population_size // sample_size
# .iloc[::interval], nó lấy mỗi hàng tại vị trí bắt đầu từ chỉ số 0 và bước sang hàng tiếp theo với khoảng cách là interval cho đến hết quần thể.
attrition_sys_samp = attrition_pop.iloc[::interval]
#Hiển thị mẫu sau khi lấy
print(attrition_sys_samp)

      Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
21     36       Yes      Travel_Rarely       1218                   Sales
42     26       Yes      Travel_Rarely       1357  Research & Development
63     59        No      Travel_Rarely       1435                   Sales
84     34        No      Travel_Rarely       1153  Research & Development
...   ...       ...                ...        ...                     ...
1365   29       Yes  Travel_Frequently        746                   Sales
1386   26        No      Travel_Rarely        157  Research & Development
1407   24        No      Travel_Rarely        771  Research & Development
1428   32        No      Travel_Rarely        234                   Sales
1449   32        No      Travel_Rarely        529  Research & Development

      DistanceFromHome  Education    EducationField  EmployeeCount  \
0                    1          2     Life Sciences              1
21                   9          4     Life Sciences              1
42                  25          3     Life Sciences              1
63                  25          3     Life Sciences              1
84                   1          2           Medical              1
...                ...        ...               ...            ...
1365                24          3  Technical Degree              1
1386                 1          3           Medical              1
1407                 1          2     Life Sciences              1
1428                 1          4           Medical              1
1449                 2          3  Technical Degree              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                  1  ...                         1            80
21                27  ...                         2            80
42                55  ...                         3            80
63                81  ...                         4            80
84               110  ...                         3            80
...              ...  ...                       ...           ...
1365            1928  ...                         4            80
1386            1952  ...                         4            80
1407            1981  ...                         2            80
1428            2013  ...                         2            80
1449            2038  ...                         4            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    0                  8                      0
21                   0                 10                      4
42                   0                  1                      2
63                   0                 28                      3
84                   0                  5                      2
...                ...                ...                    ...
1365                 0                  1                      3
1386                 0                  8                      6
1407                 0                  4                      2
1428                 1                  3                      2
1449                 0                  4                      4

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                  1               6                  4
21                 3               5                  3
42                 2               1                  0
63                 2              21                 16
84                 3               5                  2
...              ...             ...                ...
1365               3               1                  0
1386               2               7                  7
1407               2               4                  3
1428               3               2                  2
1449               3               4                  2

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     5
21                          0                     3
42                          0                     1
63                          7                     9
84                          1                     3
...                       ...                   ...
1365                        0                     0
1386                        7                     6
1407                        1                     2
1428                        2                     2
1449                        1                     2

[70 rows x 35 columns]

#### Ex3:	Get the proportion of employees by Education level from attrition_pop.
* Use proportional stratified sampling on attrition_pop to sample 40% of each Education group, setting the seed to 2022.
* Get the proportion of employees by Education level from attrition_strat.

In [11]:
# Tính tỷ lệ nhân viên theo trình độ học vấn trong attrition_pop
education_proportions = attrition_pop['Education'].value_counts(normalize=True) #normalize=True, kết quả sẽ trả về tỷ lệ tần suất của mỗi giá trị.

# Lấy mẫu theo tỷ lệ dựa trên từng nhóm trình độ học vấn
sampled_data = attrition_pop.groupby('Education', group_keys=False).apply(lambda x: x.sample(frac=0.4, random_state=2022))
#attrition_pop.groupby('Education', group_keys=False): nhóm dữ liệu trong attrition_pop theo cột 'Education'. Điều này tạo ra một đối tượng DataFrameGroupBy, trong đó mỗi nhóm tương ứng với một giá trị trong cột 'Education'.
# .apply(lambda x: x.sample(frac=0.4, random_state=2022)): hàm sample() lên mỗi nhómđể lấy một mẫu ngẫu nhiên từ mỗi nhóm với tỷ lệ frac=0.4, nghĩa là lấy ra 40% của mỗi nhóm. 
# Tham số random_state=2022 được sử dụng để đảm bảo kết quả có thể tái tạo. Cuối cùng, chúng ta gom nhóm các mẫu này lại thành một DataFrame duy nhất, và kết quả là sampled_data.

# Tính tỷ lệ nhân viên theo trình độ học vấn trong tập dữ liệu đã lấy mẫu
education_proportions_strat = sampled_data['Education'].value_counts(normalize=True)

# In ra tỷ lệ nhân viên theo trình độ học vấn trong attrition_pop
print("Tỷ lệ nhân viên theo trình độ học vấn trong attrition_pop:")
print(education_proportions)

# In ra tỷ lệ nhân viên theo trình độ học vấn trong tập dữ liệu đã lấy mẫu
print("\nTỷ lệ nhân viên theo trình độ học vấn trong tập dữ liệu đã lấy mẫu:")
print(education_proportions_strat)

Tỷ lệ nhân viên theo trình độ học vấn trong attrition_pop:
3    0.389116
4    0.270748
2    0.191837
1    0.115646
5    0.032653
Name: Education, dtype: float64

Tỷ lệ nhân viên theo trình độ học vấn trong tập dữ liệu đã lấy mẫu:
3    0.389456
4    0.270408
2    0.192177
1    0.115646
5    0.032313
Name: Education, dtype: float64

#### ex4: 
Create a list of unique JobRole values from attrition_pop, and assign to job_roles_pop
Randomly sample four JobRole values from job_roles_pop.
Subset attrition_pop for the sampled job roles by filtering for rows where JobRole is in job_roles_samp.
Remove any unused categories from JobRole.
For each job role in the filtered dataset, take a random sample of ten rows, setting the seed to 2022.

In [14]:
# Tạo một danh sách các giá trị JobRole duy nhất
job_roles_pop = attrition_pop['JobRole'].unique()

# Lấy mẫu ngẫu nhiên bốn giá trị JobRole của job_roles_pop
job_roles_samp = np.random.choice(job_roles_pop, size=4, replace=False) 
#Tham số replace=False đảm bảo rằng không có giá trị nào được lặp lại trong kết quả.

# Lọc tập dữ liệu attrition_pop cho các vai trò công việc đã lấy mẫu
attrition_samp = attrition_pop[attrition_pop['JobRole'].isin(job_roles_samp)].copy()
#.isin(job_roles_samp) để lọc các hàng trong attrition_pop trong đó cột "JobRole" nằm trong danh sách các giá trị đã lấy mẫu job_roles_samp.
# .copy() được sử dụng để tạo một bản sao của DataFrame được lọc.

# Loại bỏ bất kỳ loại không sử dụng nào từ cột JobRole
attrition_samp['JobRole'] = pd.Categorical(attrition_samp['JobRole'], categories=job_roles_samp)
#Sử dụng pd.Categorical() để chuyển cột "JobRole" thành một categorical dtype, trong đó chỉ có các giá trị đã lấy mẫu.
#Điều này đảm bảo rằng chỉ có các loại đã lấy mẫu được giữ lại, các loại không sử dụng khác sẽ bị loại bỏ.

# Đối với mỗi vai trò công việc trong tập dữ liệu đã lọc, lấy một mẫu ngẫu nhiên của mười hàng
sampled_data = pd.DataFrame()
for role in job_roles_samp:
    role_data = attrition_samp[attrition_samp['JobRole'] == role].sample(n=10, random_state=2022)
    sampled_data = pd.concat([sampled_data, role_data]) ##pd.concat :nối 2 DataFrame
# Với mỗi giá trị của job_roles_samp, chúng ta lấy mẫu 10 hàng từ attrition_samp trong đó "JobRole" trùng khớp với vai trò công việc đó.
# ham số random_state=2022 đảm bảo kết quả có thể tái tạo.
# In ra tập dữ liệu đã lấy mẫu
print(sampled_data)

      Age Attrition     BusinessTravel  DailyRate              Department  \
529    38        No      Travel_Rarely        827  Research & Development
1138   50        No  Travel_Frequently       1234  Research & Development
88     30        No      Travel_Rarely        288  Research & Development
715    33        No  Travel_Frequently        827  Research & Development
694    33        No      Travel_Rarely       1069  Research & Development
942    36        No      Travel_Rarely        325  Research & Development
1250   29        No  Travel_Frequently        461  Research & Development
1298   46       Yes      Travel_Rarely        261  Research & Development
284    26        No  Travel_Frequently        496  Research & Development
674    58        No      Travel_Rarely       1272  Research & Development
1325   42        No      Travel_Rarely       1142  Research & Development
840    35        No      Travel_Rarely        982  Research & Development
1240   39        No         Non-Travel        792  Research & Development
1426   32        No      Travel_Rarely        267  Research & Development
1142   45        No      Travel_Rarely       1015  Research & Development
856    20        No      Travel_Rarely        805  Research & Development
203    40        No      Travel_Rarely        905  Research & Development
677    49        No      Travel_Rarely        527  Research & Development
239    32       Yes      Travel_Rarely        515  Research & Development
74     36        No      Travel_Rarely        132  Research & Development
595    58       Yes      Travel_Rarely        286  Research & Development
714    50        No      Travel_Rarely       1126  Research & Development
766    50        No      Travel_Rarely       1464  Research & Development
869    46        No      Travel_Rarely       1450  Research & Development
78     37        No      Travel_Rarely        397  Research & Development
770    46        No      Travel_Rarely        430  Research & Development
541    36        No         Non-Travel        427  Research & Development
62     50        No      Travel_Rarely        989  Research & Development
1055   34        No  Travel_Frequently        829  Research & Development
610    27        No      Travel_Rarely        269  Research & Development
85     56        No      Travel_Rarely       1400  Research & Development
846    35        No      Travel_Rarely        819  Research & Development
1164   40        No      Travel_Rarely        448  Research & Development
1296   30        No      Travel_Rarely       1092  Research & Development
1037   45        No      Travel_Rarely       1448  Research & Development
1175   39        No      Travel_Rarely        492  Research & Development
604    42        No      Travel_Rarely        933  Research & Development
809    28        No      Travel_Rarely        950  Research & Development
1148   39        No      Travel_Rarely       1387  Research & Development
448    40        No      Travel_Rarely        302  Research & Development

      DistanceFromHome  Education    EducationField  EmployeeCount  \
529                  1          4     Life Sciences              1
1138                20          5           Medical              1
88                   2          3     Life Sciences              1
715                  1          4             Other              1
694                  1          3     Life Sciences              1
942                 10          4  Technical Degree              1
1250                 1          3     Life Sciences              1
1298                21          2           Medical              1
284                 11          2           Medical              1
674                  5          3  Technical Degree              1
1325                 8          3     Life Sciences              1
840                  1          4           Medical              1
1240                 1          3     Life Sciences              1
1426                29          4     Life Sciences              1
1142                 5          5           Medical              1
856                  3          3     Life Sciences              1
203                 19          2           Medical              1
677                  8          2             Other              1
239                  1          3     Life Sciences              1
74                   6          3     Life Sciences              1
595                  2          4     Life Sciences              1
714                  1          2           Medical              1
766                  2          4           Medical              1
869                 15          2     Life Sciences              1
78                   7          4           Medical              1
770                  1          4           Medical              1
541                  8          3     Life Sciences              1
62                   7          2           Medical              1
1055                15          3           Medical              1
610                  5          1  Technical Degree              1
85                   7          3     Life Sciences              1
846                  2          3     Life Sciences              1
1164                16          3     Life Sciences              1
1296                10          3           Medical              1
1037                29          3  Technical Degree              1
1175                12          3           Medical              1
604                 29          3     Life Sciences              1
809                  3          3           Medical              1
1148                10          5           Medical              1
448                  6          3     Life Sciences              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
529              724  ...                         3            80
1138            1606  ...                         3            80
88               117  ...                         1            80
715              998  ...                         1            80
694              969  ...                         1            80
942             1312  ...                         1            80
1250            1753  ...                         4            80
1298            1821  ...                         4            80
284              390  ...                         3            80
674              940  ...                         4            80
1325            1860  ...                         4            80
840             1172  ...                         2            80
1240            1737  ...                         4            80
1426            2010  ...                         3            80
1142            1611  ...                         1            80
856             1198  ...                         1            80
203              281  ...                         3            80
677              944  ...                         3            80
239              331  ...                         4            80
74                97  ...                         2            80
595              825  ...                         4            80
714              997  ...                         3            80
766             1061  ...                         4            80
869             1217  ...                         1            80
78               102  ...                         1            80
770             1069  ...                         4            80
541              742  ...                         1            80
62                80  ...                         4            80
1055            1485  ...                         4            80
610              844  ...                         2            80
85               112  ...                         1            80
846             1182  ...                         2            80
1164            1641  ...                         4            80
1296            1816  ...                         2            80
1037            1465  ...                         4            80
1175            1654  ...                         3            80
604              836  ...                         4            80
809             1121  ...                         2            80
1148            1618  ...                         4            80
448              601  ...                         3            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
529                  0                 10                      4
1138                 1                 32                      3
88                   3                 11                      3
715                  1                  6                      2
694                  0                  6                      3
942                  0                 10                      0
1250                 0                 10                      5
1298                 1                 13                      2
284                  1                  5                      3
674                  1                 24                      3
1325                 0                  8                      3
840                  1                 10                      2
1240                 1                  9                      2
1426                 0                  6                      3
1142                 0                 10                      3
856                  0                  2                      2
203                  1                 15                      2
677                  1                 29                      3
239                  0                  4                      2
74                   0                  5                      3
595                  0                 40                      2
714                  1                 32                      1
766                  1                 29                      2
869                  1                 25                      2
78                   0                 16                      3
770                  2                 23                      0
541                  1                 10                      2
62                   1                 29                      2
1055                 2                 16                      3
610                  1                  9                      3
85                   0                 37                      3
846                  1                 15                      2
1164                 0                 18                      2
1296                 0                  9                      3
1037                 2                 10                      4
1175                 0                  7                      3
604                  1                 10                      3
809                  3                 10                      3
1148                 3                 10                      3
448                  0                 22                      3

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
529                2               9                  7
1138               3              30                  8
88                 3              11                 10
715                3               6                  5
694                3               5                  0
942                3               7                  7
1250               4               3                  2
1298               4               9                  7
284                3               5                  3
674                3               6                  0
1325               3               0                  0
840                3               8                  0
1240               3               9                  8
1426               3               6                  2
1142               3              10                  7
856                2               2                  2
203                4               7                  2
677                2              26                  9
239                1               3                  2
74                 3               1                  0
595                3              31                 15
714                2               5                  4
766                2               8                  1
869                3               4                  2
78                 4               5                  2
770                3               2                  2
541                3               8                  7
62                 2              27                  3
1055               2              14                  8
610                3               9                  8
85                 2               6                  4
846                4               7                  7
1164               2               4                  2
1296               3               7                  7
1037               4               3                  1
1175               3               5                  4
604                2               9                  8
809                2               9                  7
1148               3               7                  7
448                3              20                  6

      YearsSinceLastPromotion  YearsWithCurrManager
529                         1                     8
1138                       12                    13
88                         10                     8
715                         1                     2
694                         1                     4
942                         1                     7
1250                        0                     2
1298                        3                     7
284                         3                     3
674                         0                     4
1325                        0                     0
840                         1                     7
1240                        5                     8
1426                        4                     1
1142                        1                     4
856                         1                     2
203                         3                     7
677                         1                     7
239                         1                     2
74                          0                     0
595                        13                     8
714                         1                     3
766                         7                     7
869                         0                     3
78                          0                     2
770                         2                     2
541                         0                     5
62                         13                     8
1055                        6                     9
610                         0                     8
85                          0                     2
846                         6                     4
1164                        3                     3
1296                        0                     2
1037                        1                     2
1175                        1                     0
604                         7                     8
809                         1                     7
1148                        7                     7
448                         5                    13

[40 rows x 35 columns]